/* 
    @Created on : 17-jun-2017, 14:31:13
    @Author     : RVS
    @Pag        :
    @version    :
*/

#a11{
    border: 1px solid black;
    background-color: red;
    width: 150px;
    height: 150px;
}

#a12{
    background-color: yellowgreen;    
    width: 150px;
    height: 150px;
    border: 1px solid black;

}

#a13{
    background-color: brown;
    width: 150px;
    height: 150px;
    border: 1px solid black;

}

#a14{
    background-color: yellow; 
    width: 150px;
    height: 150px;
    border: 1px solid black;

}