/* 
    @Created on : 26-jun-2017, 19:11:04
    @Author     : RVS
    @Pag        :
    @version    :
*/

/*
Seguir el orden por : 
    Etiqutas en la pagina web
    Orden alfabetico
*/

/**{
    padding: 0;
    margin: 0;
}*/


/*Siempre se pone en 1º posicion */
@charset "utf-8";
/*@import -- desaconsejado*/ 
/*@namespace*/
/*@font-face*/
/*@media*/


/*h1{
    Evitar porque relentiza*/
/*font-family: "RibEye Marrow", cursive;*/
/*}*/