/* 
    @Created on : 28-jun-2017, 13:47:24
    @Author     : RVS
    @Pag        :
    @version    :
*//* Orden : Etiquetas la pagina web
           Orden alfabetico */

.icon-html-five:before {
    content: "\eae4";
}   

.icon-upload:before {
    content: "\e961";
}

p#css3{
    border: 5px solid red;
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    width: 500px;
}   
