div{
    background-color: yellowgreen;
    border: 5px solid blue;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    width: 500px;
}

span{
    background-color: #e74c3c;
    border: 1px solid blueviolet;
    box-sizing: border-box;
    margin: 1px;
    padding: 1px;
    width: 500px;
}